body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 'cover'; */
    /* background-Position: "center"; */
    /* background-Repeat: "no-repeat"; */
    /* min-Height: "100vh"; */
    /* display: "flex"; */
    /* align-Items: "center"; */
    /* justify-Content: "center"; */
    /* padding: "50px 20px", */
}